@import url('fonts.css');

:root {
  --accent: #5D73FF;
  --white: #FFFFFF;
  --light: #F4F6F9;
  --gray: #848D99;
  --dark: #3D4C61;
}

* {
  -webkit-user-select: none;
  font-family: 'Rubik';
}

body {
  background: white;
}

img {
  pointer-events: none;
}
