<html>

<head>
  <link rel="stylesheet" href="../_global/styles/main.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <ul class="weekSelector">
    <li class="closed">
      <input type="radio" name="day" id="day-monday" value="monday" checked />
      <label for="day-monday">m</label>
    </li>
    <li>
      <input type="radio" name="day" id="day-tuesday" value="tuesday" />
      <label for="day-tuesday">t</label>
    </li>
    <li>
      <input type="radio" name="day" id="day-wednesday" value="wednesday" />
      <label for="day-wednesday">w</label>
    </li>
    <li>
      <input type="radio" name="day" id="day-thursday" value="thursday" />
      <label for="day-thursday">t</label>
    </li>
    <li>
      <input type="radio" name="day" id="day-friday" value="friday" />
      <label for="day-friday">f</label>
    </li>
    <li class="weekend">
      <input type="radio" name="day" id="day-saturday" value="saturday" />
      <label for="day-saturday">s</label>
    </li>
    <li class="weekend">
      <input type="radio" name="day" id="day-sunday" value="sunday" />
      <label for="day-sunday">s</label>
    </li>
  </ul>
</body>

</html>
