@import url('variables.css');
@import url('fonts.css');
@import url('navbar.css');
@import url('weekselector.css');

* {
  -webkit-user-select: none;
  font-family: 'Rubik';
}

body {
  background: var(--light);
  margin: 0;
}

img {
  pointer-events: none;
}
