<html>

<head>
  <link rel="stylesheet" href="_global/styles/main.css">
</head>

<body>
  <iframe src="./home/" frameborder="0"></iframe>
  <iframe src="./settings/" frameborder="0"></iframe>
  <iframe src="./profile/" frameborder="0"></iframe>

  <nav>
    <ul>
      <li class="active"><img src="../static/Icons/home-active.svg" /><span>home</span></li>
      <li><img src="../static/Icons/cog.svg" /><span>settings</span></li>
      <li><img src="../static/Icons/profile.svg" /><span>profile</span></li>
    </ul>
  </nav>
</body>

</html>
